	/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;600;700;900&display=swap');*/

  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600;700&family=Outfit:wght@400;700&display=swap');


*, ::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Source Sans 3', sans-serif; /**/
/*	font-family: 'Josefin Sans', sans-serif; /**/
	font-family: 'Outfit', sans-serif; /**/
}


:root{ /* This is how you write a variable. In this example, this is a variable for color that will be used in several elements.  */
	--overlay-color: rgba(86,31,34,1)/*rgba(123,44,48,1)  rgba(145,0,10,1);/*#03a9f4*/; 
	--accent-color: #F9CC68;  /*rgba(12,192,212,1) */
	--accent-white: #fff;
	--button-hover: #BC9A4F;
}
html{
	scroll-behavior: smooth; 
	scrollbar-width: normal;
}
header{
	background: var(--accent-color);
	max-width: 100%;
	
}

body{
	margin: 0;
	padding: 0;
	background: #fff;
/*	height: 1000vh;/**/
	overflow-y: visible;/**/
	width: 100%;
	

	
/*	background-repeat: repeat; /**/
	
}	


.wrapper{
	/*box-shadow: 0 0 15px 10px rgba(0,0,0,0.7); /**/
	max-width: 100%;
	margin: auto;
/*	height: 1000vh; /**/

	
	
	
}
/**************************************** Navigation BAR ******************************************/

.top-navbar{
	display: flex;
	justify-content: space-between;
    align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background: var(--accent-color);
	height: 40px;
	width: 100%;
	overflow: auto;/**/
	z-index: 100;
}
.top-contact{
	display: flex;
	margin-left: 30px;
}
.top-icon{
	display: flex;
	justify-content: start;
	align-items: center;
	margin-left: 10px;
	background: transparent;
	width: 200px;
}

.top-icon img,
.top-social img{
	height: 20px;
	margin: 5px 10px 0 0;
}

.top-contact p{
	
}

.top-social{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 80px;
}
/*
.no-animation-navbar{
	top: 40px !important;
	
	
}*/
.navbar {
	display: flex;
	justify-content: space-between;
    align-items: center;
	position: fixed;
	top: 0px;
	left: 0;
	background: linear-gradient(to left, rgba(66,31,34,1), var(--overlay-color),var(--overlay-color), rgba(66,31,34,1));/*#fff;/**/
/*	background-image: url("Images/textured-bg.jpg");/**/	
/*	background-repeat: none;	
	background-size: cover;/**/
/*	border-bottom: 3px solid var(--accent-color); /**/
	height: 115px;
	width: 100%;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
/*	overflow: auto;/**/
	border-bottom: 1px solid var(--accent-color);/**/ 
   	z-index: 100;
	animation: slide-down 2s ease 4s forwards;
/*	background: pink; /**/
}

@keyframes slide-down{
	0%{
		top: 0;
	}
	100%{
		top: 40px;
	}
}
/**************************************** Creating the Hamburger menu ******************************************/
.hamburger{
	position: relative;
	width: 30px;
	height: 4px;
	background: #fff;
	border-radius: 10px;
	cursor: pointer;
	z-index: 20;
	transition: 0.3s;
}

.hamburger:before,
.hamburger:after{
	content: "";
	position: absolute;
	height: 4px;
	right: 0;
	background: #fff;
	border-radius: 10px;
	transition: 0.3s;
}

.hamburger:before{
	top: -10px;
	width: 30px;
}

.hamburger:after{
	top: 10px;
	width: 30px;
}

.toggle-menu{
	position: relative;
	width: 30px;
	height: 4px;
	background: white;
	border-radius: 10px;
	cursor: pointer;
	z-index: 21;
	transition: 0.3s;
}

.hamburger,
.toggle-menu{
	display: none; /**/
}

.navbar input:checked ~ .hamburger{
	background: transparent;
}

.navbar input:checked ~ .hamburger:before{
	top: 0;
	transform: rotate(-45deg);
	width: 30px;
}
.navbar input:checked ~ .hamburger:after{
	top: 0;
	transform: rotate(45deg);
	width: 30px;
}

.navbar input:checked ~ .menu{
	right:0;
	
}
.navbar2 input:checked ~ .menu{
	right:0;
}


/****************************************************************************************/
/**************************************** logo ******************************************/
/****************************************************************************************/


.logo{
	margin-left: 40px;
	z-index: 120;
	/*min-width: 60px;
/*	background: blue; /*Troubleshoot for spacing and sizing issues**//////////////////////////////////////////////
}

.logo img{
	cursor: pointer;
    height: 5.8em;
	min-width: 80%;
	animation: rotating 3.9s linear 2 .5s;
} 

@keyframes rotating{
	0%{
		transform: rotateY(0deg);
	}
	0%{
		transform: rotateY(90deg);
	}
	0%{
		transform: rotateY(180deg);
	}
	0%{
		transform: rotateY(360deg);
	}
}

@keyframes rotate{
	0%{
		transform: rotatey(0deg);
	}
	100% {
		transform: rotatey(360deg);
	}
	
}
/*
.logo img:hover{
	cursor: pointer;
   animation: rotate 1s ease-in-out  .5s;
} /**/

/**************************************** Menu ******************************************/
/*

nav:after{
	content: '';
	clear: both;
	display: table;
	
}/**/


.menu{
	width: 100vw;
	position: absolute;
	margin: auto 0;
	height: 65px;
/*	background: red;/**/
	z-index: 300px;
	

}
nav ul{
	display: flex;
	justify-content: center;
	list-style: none;
	width: 100%;
	margin-right: 40px;
	position: relative;
	padding: 0;
	
}

nav ul li{
	display: flex;
	justify-content: end;
	margin: 0px 10px;
	padding-bottom: 20px;
/*	background: red;/**/
	
	
}

nav ul li a{
	color: white;
	text-decoration: none;/**/
	line-height: 50px;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 15px;
	
}

nav ul ul li a{
	color: var(--overlay-color);
}

.menu ul li a:hover{

	color: var(--accent-color);
}

.menu ul li:hover > ul{
	opacity: 1;
	display: flex;
	width: 100%;
	padding: 0 100px;
	box-shadow:inset 0px 5px 5px 5px rgba(0,0,0,0.5);
	left: 0;
	justify-content: center;
	z-index: 2;
	animation: dropdown .34s ease-in-out forwards;
	
}



nav ul ul{ /* dropdown content*/
	position: absolute;
	display: flex;
	flex-direction: row;
	top: 90px;
	height: 80px;	
	display: none;
	align-items: center;
	background: var(--accent-color);
	opacity: 0;
	z-index: 50;
	padding: 1px;
}

nav ul ul li{
	position: relative;
	margin: 0px;
	width: 160px;	
	display: flex;
	padding-top:20px;
	justify-content: center;
	align-items: center;
	color: var(--overlay-color);
	height: 80px;

/*	background: red; /**/
		
}

nav ul ul li:hover{
	color:  var(--overlay-color);
	box-shadow:inset 0px 5px 5px 5px rgba(0,0,0,0.5);
	background: #fff;
}






/*
.menu{
	display: inline-flex;
	justify-content: space-around;
	max-width: 75%;
/*	background: black;/*Troubleshoot for spacing and sizing issues**///////////////////////////////////////////////*
	padding: 0;
	height: 50px;
	margin-right: 100px;
	
}
.menu a {
	display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--accent-color);
  text-align: center;
  padding: 0px 5px;
   margin: 0px 5px;
  text-decoration: none; 
  text-transform: uppercase;
  transition: color .5s ease;
/* background: blue; /*Troubleshoot for spacing and sizing issues**///////////////////////////////////////////////*
}


.menu .dropdown {
  display: flex;
  line-height: 5px;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 0px 5px;
  margin: 0px 5px;
  text-decoration: none; 
  text-transform: uppercase;
  transition: display .5s ease;
/* background: yellow; /*Troubleshoot for spacing and sizing issues**///////////////////////////////////////////*
/*  overflow: hidden; /**//*
/ z-index: 8;
} 

.dropdown-content {
 display: none;
 margin-top: 40px;
  position: absolute;
  background-color: var(--accent-color);/*rgba(145,0,10,1); /**//*
  min-width: 360px;
  padding-top: 10px;
  top:70px;
  box-shadow: inset 0px 5px 10px rgba(0,0,0,0.5);
 /* overflow: hidden; /**//*
  transition: display 4s ease;
  z-index: 90;
}

.dropdown-content a {
	float: none;
	color: var(--overlay-color);
	padding: 20px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	overflow: hidden;
	margin-bottom: 10px;
	transition: display 9s ease;
/*	background: pink; /**/
/*

.dropdown .dropbtn {
	font-size: 16px;  
	font-weight: 700;
	border: none;
	outline: none;
	color: var(--accent-color);
	padding: 50px 0;
	background-color: inherit;
	font-family: inherit;
	text-transform: uppercase;
	transition: width .95s ease;
	margin: 10px;
	z-index: 8;
}*/
/*
.give-btn{
	/*font-family: "Michroma", sans-serif;*//*
	padding: 5px 10px;
	position: absolute;
	background: black;
	/*background-image: linear-gradient(var(--button-hover),var(--accent-color));*//*
	color: blue;
	border-radius: 50px;
	font-size: 18px;
	font-weight: 550;
	width: 1000px;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	margin: 0 100px 0 10px;
	animation: color-change 1s alternate infinite;
/*	overflow: hidden; /**//*


}*/

.money{
	position: absolute;
	top: 0;
	margin-left: 300px;
	font-size: 350px;
	background: blue;
	z-index: 300;
	border: 2px solid black;
}

@keyframes flash{
	 0%   {top:2px; border-radius:25px 25px 0 0; overflow: hidden; background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2)); }
	 
	 50%   {top:2px; height: 95%; border-radius:25px 25px 25px 25px; overflow: hidden;}
	
	100% {height: 50%; top:14px; border-radius: 0 0 25px 25px; overflow: hidden; background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.8)); width: calc(100% - 4px) }
}
/* */
.menu a:hover, .dropdown:hover .dropbtn {
  color: #fff;
}/**/



.menu-icon{
	filter: invert(1);
	height: 20px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

.dropdown-content a:hover {
  background-color: #fff;
  color: var(--overlay-color);
  opacity: 0.9;
}

.dropdown:hover .dropdown-content {
  display: flex;
  width: 100%;
  left: 0;
  top: 15;
  justify-content: center;
  z-index: 2;
  animation: dropdown .34s ease-in-out forwards;
}

@keyframes dropdown{
	0%{
		transform: scale(.3);
		opacity: 0;
		width: 10%;
	}
	33%{
		transform: scale(.5);
		opacity:0;
		width: 30%;
	}
	66%{
		transform: scale(.7);
		opacity: 0.1;
		width: 75%;
	}
	
	100%{
		transform: scale(1);
		opacity: 1;
		width: 100%;
	}
}



/****************************************** Announcment scroll bar ***************************************/
.scrolling-text-container{
	display: flex;
	position: fixed;
	top: 0;
	left:0;
	overflow: hidden;
	width: 100%;
	height: 50px;
	background: blue;
	text-align: center;
	z-index: 400;
	align-items: center;
	border-bottom: 5px solid white;
	border-top: 5px solid white;
	
}

.scrolling-text{
	display: flex;
	white-space: no wrap;
	color: white;
	font-size: 30px;
	animation: scroll-left 9s linear infinite;
	}
	
	@keyframes scroll-left{
	0%{
		transform: translateX(180%);
	}
	100%{
		transform: translateX(-150%);
	}
	}

/***************************************** BANNER ***************************************/

.banner1{
	padding: 0;
	/*background: blue;*/
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 100%;
	
/*	overflow: hidden;/**/
}
.banner1 img{
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
/*	object-fit: cover;/**/
	filter: brightness(60%);
	z-index: 2;
}
/******************************** Banner Text*************************************/

.text-box{
	width: 900px;
	position: absolute;
	top: 240px;
	left: 160px;
	color: #fff;
	caret-color: transparent;
	cursor: default;
	z-index: 15;
	
}
.text-box h1{
	width: 500px;
	margin-bottom: 10px;
	text-transform: uppercase;
	line-height: 1;
	font-size:60px;
	animation: scroll-in 1.3s ease;
	
}	
	
@keyframes scroll-in{
	0%{
		transform: scale(.2);
	}
	60%{
		transform: scale(1.2);
	}
	100%{
		transform: scale(1);
	}
}
	
	

.text-box h3{
	font-size: 45px;
	font-weight: 400;
	line-height: 2;
	opacity: 0;
	animation: fade-down 2s ease forwards 1.2s ;
}

@keyframes fade-down{
	0%{
		transform: translateY(-80%);
		opacity: 0;
	}
	
	100%{
		transform: translateY(0%);
		opacity: 1;
	}
}


.button{
	position: relative;
	padding: 10px 20px;
	margin-top: 40px;	
	background: transparent;
/*	background-image: linear-gradient(var(--button-hover),var(--accent-color));/**/
	color: black;
	border-radius: 50px;
	border: 3px solid var(--accent-color);
	font-size: 16px;
	width: 180px;
	cursor: pointer;
	text-transform: uppercase;
	z-index: 10;
	
}

.live{ /*This is the WatchLive button on the Banner section **/
	color: #fff;
	margin-top: 30px;
	
}

.responsive-btn{
	display: none;
	color: #fff;
	margin-top: 10px;
}
.hoursContainer{
	/*background: blue; /**/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #fff;
	opacity: 0.8;
	padding: 20px;
	border: 1px solid black;
	
}

.hoursContainer h1{
	height: 40px;
/*	background: pink; /**/
	margin: auto;
	
}

.hoursContainer h3{
/*	background: green; /**/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-weight: 400;
	
}


.table{
/*	background: red; /**/
	width: 400px;

}
.table-title{
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 10px 0;
	width: 100%;
}
.table-title h1{
	font-weight: 600;
	font-size: 30px;
}
.services{
	display: flex;
	justify-content: space-between;
	font-weight: 700;
}

.table-section{
	margin: 10px 0;
}

.tableHeader{
	font-size: 20px;
	font-weight: 700;
}

.dot{
    flex: 1;
    border-bottom: 2px dotted black;
    height: 0.6em;
	margin: 5px 5px 0 5px;
    }
/


/*************************************  About us Page  *********************************************************/
#shadow{
	background-image: url("Images/bible_bg.jpg");
	background-repeat: none;
	background-size: cover;
	height: 250px;
	
	background-position: 50% 100%;
	z-index: 5
}
#shadow p{
	
	display: flex; 
	text-align: center;
	z-index: 10;
}	
#shadow .col-1{
	display: flex;
	align-items: center;
	z-index: 15;	
	margin-top: 40px;
	
}

.overlay{
    position: absolute; 
	top: -50;
	left:50;
	width: 100%;
	height: 250px;
	background: rgba(88,31,34,0.8);
	box-shadow: 0 0 5px 10px rgba(0,0,0,0.3);
	z-index: 1;
}

#aboutUs{
	background-image: url("Images/vtimage6.jpg");
	background-repeat: none;
	background-size: cover;
	height: 500px;
	background-position: 50% 90%;
	filter: brightness(70%);
	margin-bottom: 100px;
	
}
.about_textbox{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	align-items: center;
	width: 360px;
	position: absolute;
	top: 400px;
	left: 50%;
	transform: translateX(-50%); 	
	color: #fff;
	z-index: 3;
	
}

.about_textbox h1{
	display: flex;
	justify-content: center;
	width: 500px;
	margin-bottom: 10px;
	text-transform: uppercase;
	line-height: 1;
	font-size:80px;
}

	
}

.belief_textbox{
	display: flex;
	text-align: center;
	flex-direction: column;
	margin: auto;
	
}
.belief_textbox h1{
	font-size: 5em;
	color: white;
	margin: auto;
	padding: 0;
}
.belief_textbox h3{
	font-size: 3em;
	color: white;
}*/
iframe{
	background: black;
	
}*/
#map {
  height: 400px;
  width: 100%;
  border-radius: 25px;
}
#locate{
	background: #fff;
	background-image: url("Images/gold-section-bg4b.png");
	/*background-size: cover;/**/
	background-repeat: no-repeat;
	/*background-position: 0% -50%;/**/
	background-position: 0% 50%;
	padding: 0 0 0;
	margin: 0;
	
}
.believeBody{
	background-color: rgba(245,245,245,.9);
	
}


/************************************************* Fix *******************************************/
.believe{
	border: 1px solid gold;
	background: white;
	width: 100%;
	margin: 20px 10px;
	padding: 30px;
	border-radius: 0.8rem;
	text-align: start;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.5); /**/
}

.believe h3, h1{
	padding-bottom: 20px;
	
}

.believe h1{
	font-size: 45px ;
	font-weight: 900;
}

.believe h3 {
	font-size: 20px ;
	font-weight: 900;
}

.believe p{
	font-size: 20px;
}

.believe-gallery{
	display: flex;
	flex-direction: column;
	width: 48%;
	margin: 10px;
	
}
/*************************************  Events Page *********************************************************//*
.announcementContainer{
	padding: 2rem;
	background-image: url("Images/church-bg.jpg"); /**//*
	background-repeat: none;
	background-size: cover;
}
::-webkit-scrollbar{
	display: none;
	
}	
	
.slider-wrapper{
	position: relative;
	max-width: 38% ; /*28rem *//*
	height: 100vh;
	margin: 0 auto;
}*/
/*********************************************************************
.slider{
	display: flex;
	/*aspect-ratio: 9/19.5; /* 4/3*/
/*	height: auto; /* 100%*/
/*	width: 100%; /**/
/*	overflow-x: auto; /*auto*//
/*	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0%, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	background: rgba(0,0,0,0.2);
}/*

.slider img{
	display: flex;
	align-items: center;
	justify-content: center;
	/*flex: 1 1 100%; /* 1 0 100%*/
/*	border: 3px solid black;
	height: 100%;
	width: 100%;
	max-width: 100vw;
	max-height: 100vh;
	scroll-snap-align: center;
/*	object-fit: contain; /**/
/*	object-width: cover; /*maybe change*//*
}*/
/************************************************************************/
/**/

.card{
	background: blue;	/**/

}

.card h1{
	text-align: center;
	font-size: 50px;
	margin: 20px 0;
	letter-spacing: 1;
	line-height: 1;
	text-transform: uppercase;
}
.row-container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
/*	flex-wrap: wrap; /**/
/*	background: red; /**/
	
}

.item-container{
	position: relative;
	margin: 24px 24px 60px;
	width: 360px;
	height: 450px;
	overflow: hidden;/**/
	background: #fff;
	box-shadow: 0 0 30px 5px rgba(0,0,0,0.5);
	cursor: default;
	
}

.img-container,
.body-container{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;	
}

.img-container img{
	width: 100%;
}

.body-container{
	position: relative;
}

.overlay-1{
	position: relative;
	width: 100%;
	height: 335px;
	background-color: var(--overlay-color); /*rgba(24,83,122,0.6);*/
	opacity: 0;
	transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay-1{
	opacity: 0.8;
	height: 150px;
	
}

.item-container:hover{
	box-shadow: 0 0 30px 5px rgba(0,0,0,0.9);
}

.event-info{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	
	
	/*padding: 8px 8px 15px 8px;
	z-index: 10;*/
	
}

.title,
.price{
	color: var(--overlay-color); /*#18537a;*/
	font-size: 1.1em;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 6px
}

.info{
	letter-spacing: 0.5px;
	margin-bottom: 4px;
	font-weight: bold;
	font-size: 0.9em;
	
}

.separator{
	width: 20%;
	height: 6px;
	background-color: #17537a;
	margin-bottom: 16px;
}

.additional-info{
	border-top: 1px solid #bbb;
	margin-top: 12px;
	padding: 8px;
	
	padding-bottom: 120px;
		

}

.additional-info info{
	
	font-size: 0.2em;
	margin-bottom: 10px;
	text-align: center;
	color: #18537a;
	background: blue;
}

.additional-info p{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
}

.info i img{
	height: 20px;
	margin: 5px 4px 0 0;
}

.description{
	display: flex;
	flex-direction: column;
	padding: 20px 0 30px;
	text-align: center;
	font-weight: 300;
} 

.info span{
	color: var(--overlay-color);
	font-size: 1.3em;
	font-weight: 600;
	margin-top: 5px;
	padding-top: 5px;
	cursor: pointer;
}

.action{
	color: #fff;
	border: 3px solid #fff;
	background-color: transparent;
	position: absolute;
	top: -100px;
	left: 50%;
	transform: translateX(-50%);
	width: 60%;
	outline: none;
	cursor: pointer;
	padding: 12px;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 2px;
	transition: background-color 0.4s, top 0.4s;
}

#galatin{
	background-image: url('Images/Announcement5.jpg');
	background-repeat: no-repeat;
	background-size: auto 735px;
	background-position: 100% 50%;
}


.item-container:hover .action{
	top: 50px;
	
}

.action:hover {
	background-color: var(--overlay-color);
	color: white;
}




.hero{
	width: 100%;
	height: 100%;
	background: #fff;
	margin-bottom: 100px;
	padding: 24px;
	
}





/************************************************FIX **********************************************************/
.slider-nav{
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.75rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a{
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover{
	background: var(--button-hover);
}

/***********************************************  Another slider wrapper ********************************/
.slide-container{
	max-width: 100vw; /**/
	max-height: 100vh; /**/
	height: 100vh;
	display: flex; 
	/*align-items: center; /**/
	overflow: hidden; 
	background: gray; /* linear-gradient(to right, rgb(255,65,108), rgb(255,75,43)); */
} 
.image-slider{ 
width: 100vw; /*100%*/
height: 100vh;  /*600px*/
position: absolute;
left: 0; /**/
display: flex; 
justify-content: center; 
align-items: center; /**/
transition: .7s; 
}

.slides-div{ 
display: flex; 
object-fit: contain;
align-items: center; /**/
justify-content: center; /**/
scroll-snap-type: x mandatory; /*This property and value is not orginally here*/
margin: 0 30px 0 30px; /**/
} 

.img{ 
position: relative; 
width: 240px; /**/
height: 570px; /*370*/
transition: .5s; /**/
scroll-snap-type: x mandatory;
filter: saturate(100%); 
} 

.button-nav{ 
position: absolute; 
width: 240px; 
height: 370px; 
transition: background .5s; 
border: 3px solid black;
/*background-color: rgba(0, 0, 0, .4); /**/
}


.button-nav:hover{ 
transform: background: rgba(0, 0, 0, .2); 
} 

#slider-span1:target ~ .image-slider #imgl, 
#slider-spanl:target ~ .image-slider #button-1{ 
width: 380px; 
height: 585px; 
background-color: transparent; 
filter: saturate(100%); 
} 

#slider-span2:target ~ .image-slider #img2, 
#slider-span2:target ~ .image-slider #button-2{ 
width: 380px; 
height: 585px; 
background-color: transparent; 
filter: saturate(100%); 
} 
#slider-span3:target ~ .image-slider #img3, 
#slider-span3:target ~ .image-slider #button-3{ 
width: 380px; 
height: 585px; 
background-color: transparent; 
filter: saturate(100%); 
}

#slider-spanl:target ~ .image-slider {left: 100%;}
#slider-span2:target ~ .image-slider {left: 70%;} 
#slider-span3:target ~ .image-slider {left: 35%;} 
#slider-span4:target ~ .image-slider {left: 0%;}
#slider-span5:target ~ .image-slider {left: -35%;}
#slider-span6:target ~ .image-slider {left: -70%;}
#slider-span7:target ~ .image-slider {left: -100%;} /**/ 
 



/***********************************************  Gallery Page ********************************/

.gallery-bg img{
	position: fixed;
	height: 100%;
	z-index: -1;
	
}
.gallery-container{
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 40px 30px 0 30px;
	
	
}
.gallery-container .heading{
	width: 50%;
	padding-bottom: 50px;
}

.gallery-container .heading h3{
	font-size: 5em;
	font-weight: bolder;
	padding-bottom: 10px;
	border-bottom: 3px solid black;
}

.gallery-container .heading h3 span{
		font-weight: 200;
	
}
.gallery-container .box{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px;
}
.gallery-container .box .gallery{
	display: flex;
	flex-direction: column;
	width: 32.5%;
	margin: 10px;
}
.gallery img{
	width: 100%;
	margin: 10px;
	border-radius: 0.5rem;
	filter: brightness(75%);
	cursor: pointer;
}

.popup-img{
	position: fixed;
	top:0; left:0;
	background: rgba(0,0,0,0.9);
	height: 100%;
	width: 100%;
	z-index: 100;
	
}/**/
.popup-img img{
	position: fixed;
	top:; left:0;
	background: rgba(0,0,0,0.9);
	height: 90%;
	width: 90%;
	z-index: 400;
}

.popup-img span{
	position: fixed;
	top:; left:0;
	background: rgba(0,0,0,0.9);
	height: 90%;
	width: 90%;
	z-index: 400;
}
	
	

.gallery img:hover{
	filter: brightness(100%);
	transform: scale(1.01);
	z-index:5;
}


@ media only screen and (max-width: 769px){
	.gallery-container .heading{
	width: 100%;
	}

.gallery-container .heading h3{
	font-size: 1.5em;
	}
}

@ media only screen and (max-width: 615px){
	.gallery-container .box {
		flex-direction: column;
		justify-content: space-between;
	}
	.gallery-container .box .gallery{
	width: 100%;
	}
}
 
	 
	 
	 
	 
 }	 
/*************************************************Section*********************************************/
.maroon .title{
	font-size: 60px;
	color: var(--accent-white);
	text-align: end;
	padding-bottom: 20px;
	
}
/*************************************  Give Page *********************************************/
.banner2{
	padding: 0;
/*	background: blue;*/
	background-size: cover;
	background-position: center;
	height:90vh;
	
	overflow: hidden;
}
.banner2 img{
	height: 100vh;
	background-repeat: no repeat;
	background-size: cover;
/*	max-width: 1800px; /**/             
	min-width: 100%;
	object-fit: cover;
	filter: brightness(40%);
	background-size: cover;
	object-position: 30% 0;
	
}


.bg-gallery{
	background-image: url("Images/banner-bg-photo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 50%;
	
	
}

.banneroverlay{
	display: none;
	position: absolute;
	top: 105px;
	left: 0;
	width: 100%;
	height: 84%;
	background: linear-gradient(rgba(88,0,10,.9), rgba(88,0,10,.5)); /**//*
	background-color: black;/**/
/*	opacity: .75;  /**/
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;/**/
	overflow: hidden;
	z-index: 11; 
}
.text-boxCenter{
	width: 100%;
	position: absolute;
	top: 50%;
	right: 0;
	height: 200px;
	background: transparent;
	margin: 0;
	
	
}

.text-boxCenter h1{
	
	position: absolute;
	text-align: center;
	top: 0;
	left: 50%;
	color: #fff;
	/*margin-bottom: 10px;/**/
	z-index: 15;
	border: 10px solid #fff;
	padding: 20px;
	text-transform: uppercase;
	font-size: 5em;
	transform: translateY(-50%) translateX(-50%);
	animation: slide-left 2s ease forwards .5s;	
}

@keyframes slide-left{
	0%{ translateX(0%);} 
	100%{ translateX(-50%);}}



.page-title{
	width: 100%;
}

.page-title h1{
	font-size: 80px;
	text-align: center;	
	text-transform: uppercase;
}

.page-title h2{
	font-size: 40px;
	text-align: center;
	
}
.give{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 15rem;
}

.give-text{
	text-align: center;
}

.give-text h1, h2{
	text-align: center;
	padding: 0;
}
.give-icon{
	text-align: center;
}
.give-icon img{
	height: 120px;
	
}
.fa-solid{
	font-size:120px;
	color:lightblue
	
}
	
	






/************************************************  footer  *********************************************/
.maroon{
	background: var(--overlay-color);
	background-repeat: none;
	background-size: cover;/* This increases the size of the image*/
	
	background-position: 50% 70%;
}

footer .col-1{
	margin-top: 5%;
	height: 100%;
}

.logo-footer{
	margin-bottom: 50px;
	min-width: 60px;
	align-item: center;
	align-content: center;
	
}
.logo-footer img{
	cursor: pointer;
    height: 4.8em;
	min-width: 10%;
  
}
.col-1 ul{
	text-decoration: none;
	list-style-type: none;
	cursor: pointer;
}

footer p{
	color: #fff;
	font-size: 20px;
}

.social{
	display: flex;
	justify-content: center;
	align-items: center;
}

.social img{
	display: flex;
/*	-webkit-filter: invert(100%); /* Safari/Chrome */
    color: white;
	padding: 20px;
	border-radius: 50%;
	/*	margin: .5rem .5em .5rem; /**/
	height: 4rem;
	transition: background 1s ease;
}


.social img:hover{
	background: var(--accent-color);
	
	/*transform: scale(1.1) translateY(-5px) ; /*translateY brings the image up/down. (-) makes image up. Its absence, down.*/
	
}	/**/
/************************************************  Hover *********************************************/
button:hover{
	background: var(--accent-color);
	color:var(--overlay-color);
}

.reveal{
	position: relative;
	transform: translateY(0px);
	opacity: 0;
	transition: all 1s ;
}

.reveal.active{
	transform: translateY(0px);
	opacity: 1;
}

.revealL{
	transform: translateX(100px);
	transition: all 1s ease .5s;
}

.reveal.active .revealL{
	transform: translateX(0px);
	opacity: 1;
}

.revealR{
	transform: translateX(-100px);
	transition: all 1s ;
}

.reveal.active .revealR{
	transform: translateX(0px);
	opacity: 1;
}

/******************************************************************************************************/
/*


input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#contact{
	display: flex;
	align-items: center;
	color: #000;
	height: 500px;
}

#contact h2{
	color: #000;
}*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], [type=email], [type=tel],select, textarea {
  width: 70%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 2px solid var(--overlay-color); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 1px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  margin-left: auto;
  margin-right: auto;
  background: #fff;/**/
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  position: relative;
	padding: 10px 20px;
	margin-top: 40px;	
	background: white;
/*	background-image: linear-gradient(var(--button-hover),var(--accent-color));/**/
	color: black;
	border-radius: 50px;
	border: 3px solid var(--accent-color);
	font-size: 16px;
	width: 180px;
	cursor: pointer;
	text-transform: uppercase;
	z-index: 10;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: var(--accent-color);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 40px;
  opacity: .9;
  padding: 30px;
}


.container::before {
    content: '';
    position: relevant;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
/*	box-shadow: inset 0 5px 2000px 10px rgba(0, 0, 0, .5);/**/
    filter: blur(10px);
	background: white;
}

.flex-column{
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: start;
	padding: 0px;
/*	background: blue;/**/
	
}

form{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 700px;
/*background: red;/**/
	padding: 40px;
	z-index:10;
}

label{
	/*background: yellow; /**/
	width: 20%;
	margin-left: 105px;
	color: var(--overlay-color);
	font-weight: 700;
}


/******************************************************************************************************/

#popup-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popup-form-container form {
    background-color: #000;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    margin: 30px auto;
}




/*************************************  Site Structure *********************************************************/

#1{
	position: absolute;
	top: 100px;
	left: 0;
	z-index:10;
	background: black;
	
}

.largeTitle{
	background: var(--overlay-color);
	text-align: center;
	font-size: 50px;
	text-transform: uppercase;
	color: #fff;
	padding: 60px 0;
	margin: 0 0 50px 0;

}

.container{
	/*width: 1800px;/**/
	margin: auto; /* centers the elements*/
	padding-left: 0px;
	padding-right: 0px;
/*	background: blue; /*Troubleshoot for spacing and sizing issues**//////////////////////////////////////////////
}

.row-give{
	display:flex;
	max-width: 1000px;
	align-items: center;
	flex-wrap: wrap; /* Allows text to be wrapped instead of used on a single line. */
	justify-content: space-between;/*
	margin: auto;
	/*box-shadow: 0px 8px 8px rgba(0,0,0,0.5);/**/
	border-radius: 20px;
	padding: 120px 0px;
/*	background: red;  /*Troubleshoot for spacing and sizing issues**///////////////////////////////////////////
	
}

.row{
	display: flex;
	max-width: 1000px;
	
	align-items: center;
	flex-wrap: wrap; /* Allows text to be wrapped instead of used on a single line. */
	justify-content: space-between;
	margin: auto;
	/*box-shadow: 0px 8px 8px rgba(0,0,0,0.5);/**/
	border-radius: 20px;
	padding: 0px;
 /*  background: red;  /*Troubleshoot for spacing and sizing issues**///////////////////////////////////////////
}
.rowMap{
	display:flex;
	flex-wrap: wrap;
	max-width: 1100px; /**/
/*	align-items: center;*/
	/*flex-wrap: wrap; /* Allows text to be wrapped instead of used on a single line. */
	justify-content: space-between;
	margin: auto;
	/*box-shadow: 0px 8px 8px rgba(0,0,0,0.5);/**/
	border-radius: 20px;
	padding: 0px;
/*	background: red;  /*Troubleshoot for spacing and sizing issues**///////////////////////////////////////////
}
.row h1{
	font-size: 20px;
	text-align: center;
	width: 100%;
}

.col-1 p{
	min-width: 100px;
	font-size: 20px;
	font-weight: 600;
	text-align: start;
	color: black;
	margin-bottom: 15px;
}
.col-4{
	display: flex;
	flex-direction: column;
	min-width: 25%;/* divides screen content in half*/
	/*min-width: 300px; */
	text-align: center;	
	align-items: center;
	margin: auto;
	color: white;
	min-height: 100px;
}
.col-1{
	display: flex;
	flex-direction: column;
	min-width: 100px;/* divides screen content in half*/
	/*min-width: 300px; */
	text-align: center;	
	align-items: center;
	margin: auto;
	color: white;
	min-height: 100px;
/*	background: blue; /*Troubleshoot for spacing and sizing issues**/////////////////////////////////////////////
}
.col-1 h3{
	font-size: 30px;
}
.col-1 h1{
	font-size: 50px;
}
.col-2{
	display: flex;
	flex-wrap: wrap;
	 /* divides screen content in half*/
	/*min-width: 300px; */
	text-align: center;
	width: 550px;
	justify-content: space-around;
	
	margin: 50px 20px;
/*	background: green; /*Troubleshoot for spacing and sizing issues**////////////////////////////////////////////
}

.col-2image{
	display: flex;
	text-align: center;
	align-items: center;
	width: 300px;
	justify-content: space-around;
	
	margin: 60px 20px;
	box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
/*	background: brown; /*Troubleshoot for spacing and sizing issues**////////////////////////////////////////////
}
.col-2maptext{
	display:flex;
	 /* divides screen content in half*/
	/*min-width: 300px; */
	align-items: center;
	justify-content: center;
	width: 50%;
	flex-direction: column;
	padding: 0 10px;
/*	background: green; /*Troubleshoot for spacing and sizing issues**///////////////////////////////////////////	

}
.col-2map{
	display: flex;
	height: 400px;
	text-align: center;
	align-items: center;
	width: 50%;
	justify-content: center;
	border: 1px solid black;
/*	background: blue; /*Troubleshoot for spacing and sizing issues**////////////////////////////////////////////
}


.col-2 img{
	display: flex;
	justify-content: space-between;
	height: 370px;
	width: 1300px;
	object-fit: cover;
/*   background: gray;
	align-content: center;
	/*margin: auto;*/
}

.col-2image img{
	display: flex;
	justify-content: space-between;
	height: 370px;
	width: 300px;
	object-fit: cover;
/*	background: blue;
	align-content: center;
	align-items: center;
	/*margin: auto;*/
}
.col-2 h1{
	text-align: center;
	font-size: 50px;
	margin-bottom: 20px;
	letter-spacing: 1;
	line-height: 1;
	text-transform: uppercase;
}

.col-2 p{
	font-size: 20px;
	text-align: start;
	margin-top: 10px;
	max-width: 600px;
/*	background: teal; /*for troubleshooting only*////////////////////////////////////////
}

.column{
	flex-direction: column;
	
}
.small-container{
	/*display: flex; /* just made change 11/13/23*/
	padding: 5px 0;
	max-width: 100%;
	margin: auto;
	min-height: 200px;
	align-content: center;
/*	background: yellow; /*Troubleshoot for spacing and sizing issues**////////////////////////////////////////////
	
}
.medium-container{
	padding-top: 5px;
	max-width: 1080px;
	margin: auto;
	height: 700px;
}

.large-container{
	padding-top: 5px;
	max-width: 1080px;
	margin: auto;
	height: 100%;
	padding-bottom: 10px;
}

.maroon{
	background: var(--overlay-color);
	/*border-top: 10px solid gold;
	border-bottom: 10px solid gold;*/
}
.white{
	background: #fff;
	background-image: url("Images/gold-section-bg4.png");
	/*background-size: cover;/**/
	background-repeat: no-repeat;
	/*background-position: 0% -50%;/**/
	background-position: 0% 50%;
	padding: 60px 0;
	
}
.white-2{
	background: #fff;
	background-image: url("Images/gold-section-bg4c.png");
	/*background-size: cover;/**/
	background-repeat: no-repeat;
	/*background-position: 0% -50%;/**/
	background-position: 50% 55%;
	
}

.bg4a{
	background: #fff;
	background-image: url("Images/gold-section-bg4a.png");
	/*background-size: cover;/**/
	background-repeat: no-repeat;
	/*background-position: 0% -50%;/**/
	background-position: 50% 50%;
	
}

.responsive-margin{
	display: none;
}

/*************************************  About us Page  *********************************************************/



/************************************************  Media  *********************************************/


	



/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 500px) {/*
	*{animation: none !important;}
	.topnav.responsive {position: relative;}
	.menu a{position: relative; display: flex;}
	.html{display: block;}
	.top-navbar{display: none;}
	.navbar{ position: relative; animation: none;}
	.col-2image{width:auto; margin:30px; padding:5px;}
	.col-2map{margin: 24px; width: 90%; justify-content}
	.text-box{position: absolute; width: 100px; top:0; text-align:center; margin: auto;}
	.text-box h1{font-size:50px; width:100%; margin-bottom:5px; text-align:center; z-index:20; opacity:1;}
	.text-box h3{ display:none; font-size:20px; line-height:normal; text-align:center;}
	.revealL{transform:translateX(50%); display:flex; align-self:center;}
	.row{width: 100%; padding:5px; justify-content:center;}
	.rowMap{flex-direction:column; justify-content:center;}
	.medium-container{padding-top: 5px; max-width: 100%; margin: auto; height: 700px;}
	.large-container{padding-top: 5px; max-width: 1080px; margin: auto; height: 100%; padding-bottom: 10px;}
	#order1{order:1;} #order2{order:2;}
	.reveal.active .revealR {transform: translateX(50%);}
	.banner2{width: 100vw;}
	.gallery-container .heading h3{font-size: 30px;}
	button.button.live{display: none;}
	.menu-icon{display: block;}
	.responsive-btn{display: block; position: relative; top:50; color: white;}
	.responsive-margin{margin: 10px 0;}
	.active{animation: none !important;}
	.overlay-btn{border: 3px solid var(--overlay-color); background: #fff;}
	.overlay-btn:hover{background: var(--overlay-color); color:#fff;}
	
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 601px) {/*
	.topnav.responsive {position: relative;}  
	.menu {position: absolute; top: 70px; right: 0px; background: black; width: 100%; margin:0; } .dropbtn{flex-direction: column;}
	.menu a{ display: block; position: relative; right: 0; color: white; left: 50%;} .dropbtn{}
	.dropdown-content{background: yellow; height: 300px;}
	.html{display: block;}
	.top-navbar{display:none;}
	.navbar{ position: relative; top: 0; animation: none;}		
	.col-2image{width:auto; margin:30px; padding:5px;}
	.col-2map{margin: 24px; width: 90%; justify-content}
	.text-box{width: 350px; top:30%; left:20%; text-align:center;}
	.text-box h1{font-size:50px; width:100%; margin-bottom:5px; text-align:center; z-index:20; opacity:1;}
	.text-box h3{ display:none; font-size:20px; line-height:normal; text-align:center;}
	.revealL{transform:translateX(50%); display:flex; align-self:center;}
	.row{width: 100%; padding:5px; justify-content:center;}
	.rowMap{flex-direction:column; justify-content:center;}
	.medium-container{padding-top: 5px; max-width: 100%; margin: auto; height: 700px;}
	.large-container{padding-top: 5px; max-width: 1080px; margin: auto; height: 100%; padding-bottom: 10px;}
	#order1{order:1;} #order2{order:2;}	
	.reveal.active .revealR {transform: translateX(50%);}
	button.button.live{display: none;}
	.menu-icon{display: block;}
	.responsive-btn{display: block; position: relative; top:50; color: white;}
	.responsive-margin{margin: 10px 0;}
	.active{animation: none !important;}
	.overlay-btn{border: 3px solid var(--overlay-color); background: #fff;}
	.overlay-btn:hover{background: var(--overlay-color); color:#fff;}
	
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 900px) {/*
	.topnav.responsive {position: relative;}  
	.html{display: block;}
	.menu-icon{z-index: 300;}
	.menu {position: fixed; flex-direction: column; top: 70px; right: 0px; background: black; height: 600px; width: 100%; margin:0; padding: 10px;} 
	.dropbtn{color: white;}
	.menu a{ align-items: center; background: white;  position: relative; color: var(--accent-color); margin: 5px 0; padding: 10px 0px; top: 15;left: 50%; transform: translateX(-50%) translateY(-50%);} 
	.dropbtn{color: white; position: relative; left: 50%; transform: translateX(-50%) translateY(-50%)}
	.menu}
	.dropdown{background: red; height: 30px; padding: 0;}
	.dropdown-content{background: yellow; }
	.top-navbar{display: none;}
	.navbar{ position: relative; top: 0; animation: none;}
	.banner1{background-image: url("Images/vtchurch.jpg");}
	.col-2image{width:auto; margin:30px; padding:5px;}
	.col-2map{margin: 24px; width: 90%; justify-content}
	.text-box{position: absolute; top: 50%; width: 50rem; margin: auto; text-align:center;}
	.text-box h1{font-size:80px; width:100%; margin-bottom:5px; text-align:center; z-index:20; opacity:1;}
	.text-box h3{ display:none; font-size:20px; line-height:normal; text-align:center;}
	.revealL{transform:translateX(50%); display:flex; align-self:center;}
	.row{width: 100%; padding:5px; justify-content:center;}
	.rowMap{flex-direction:column; justify-content:center;}
	.medium-container{padding-top: 5px; max-width: 100%; margin: auto; height: 700px;}
	.large-container{padding-top: 5px; max-width: 1080px; margin: auto; height: 100%; padding-bottom: 10px;}
	#order1{order:1;} #order2{order:2;}
	.reveal.active .revealR {transform: translateX(50%);}

	button.button.live{display: none;}
	.menu-icon{display: block;}
	.responsive-btn{display: block; position: relative; top:50; color: white;}
	.responsive-margin{margin: 10px 0;}
	.active{animation: none !important;}
	.overlay-btn{border: 3px solid var(--overlay-color); background: #fff;}
	.overlay-btn:hover{background: var(--overlay-color); color:#fff;}
	
}
/*
#preloader{
	background: #000 url(Images/icon-preloader2.gif) no-repeat center center;
	background-size: 10%;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 200;

}
*/